.weatherStripWrapper {
  text-align: center;
}

.title{
  font-style: italic;
  font-size: 30px;
}

.weatherStrip {
  width: auto;
  height: 202px;
  border: 1px solid black;
  display: inline-block;
  margin: 0 auto;
}

.weatherCard {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  margin: 0 auto;
}

.date {
  text-align: center;
  font-size: 100%;
}

.wPic {
  height: 50%;
  width: 70%;
  margin: 0 auto;
  display: block;

}

.left {
  float: left;
}

.temp {
  text-align: center;
  font-size: 100%;
  color: darkgrey;
}
