.calculatorstyle {
  margin: auto;
  width: 50%;
}
.buttoncontainerstyle {
  display: inline-grid;
  grid-gap: 5px;
  padding: 5px;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
}

.buttonstyle {
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  box-sizing: border-box;
  border-radius: 5px;
}

.displaystyle {
  width: 530px;
  height: 60px;
  border: 2px solid blue;
  box-sizing: border-box;

  border-radius: 5px;
}

.displayerrorstyle {
  width: 530px;
  height: 60px;
  border: 2px solid red;
  box-sizing: border-box;

  border-radius: 5px;
}

.displaytextstyle {
  text-align: right;
  padding: 2px;
  overflow-x: hidden;
  font-size: 16px;
}

.displayprevresultstyle {
  text-align: right;
  padding: 5px;
  overflow-x: hidden;
  font-size: 12px;
  color: #4d4d4d;
}
